<form action="{{ app.request.basePath }}/storage/add-container" method="post">
    <label>Container name:
        <input type="text" name="container" id="container-name" value="">
    </label><br>
    <input type="submit" value="Add container">
</form>