<footer id="footer">
    <hr>
    <div id="disclaimer" class="center">
        <p>AzureBlob was developed by <a href="https://www.in2it.be" title="In2it, professional PHP services">in2it</a> as a proof of concept to
        display the possibility of <a href="http://azure.microsoft.com">Microsoft Azure</a>&trade; storage services using <a
        href="http://www.php.net" title="PHP, the HyperText PreProcessor">PHP</a>.</p>
        <p>AzureBlob is in no way developed by or for <a href="http://www.microsoft.com">Microsoft</a>&trade; and will in no way reflect the services
        of <a href="http://www.microsoft.com">Microsoft</a>&trade; or <a href="http://azure.microsoft.com">Microsoft Azure</a>&trade;.</p>
        <p>This software is released under <a href="http://opensource.org/licenses/MIT">MIT licence</a> and is therefor free to use. Check out the
        source code on <a href="https://github.com/AzureBlob/azureblob" title="Fork us on GitHub">GitHub</a>.</p>
    </div>
</footer>